doctype html
html(lang='de')
    include templates/head
    body
        include templates/cookieBanner
        // ======= Header =======
        include templates/header
        main#main
            // ======= Breadcrumbs =======
            section.no-section-after.breadcrumbs
                .container
                    .d-flex.justify-content-between.align-items-center
                        h2 Bot-Datenschutzerklärung
                        ol
                            li
                                a(href='/') Home
                            li Rechtliches
                            li Bot-Datenschutzerklärung
            section.bot-privacy.inner-page.no-section-after
                .container
                    .section-title
                        h2 Bot-Datenschutzerklärung
                        p Angaben gemäß Discord Developer Richtlinien
                    .row
                        .col-md-12
                            
h3 Vorwort

p Die folgenden Nutzungsbedingungen regeln die Verwendung des Discord-Bots "#{name}" (nachfolgend als "der Bot" oder "#{name}" bezeichnet).

p Im Verlauf dieser Bedingungen verwenden wir die Begriffe "wir" und "uns" in Bezug auf das Staff-Team von #{name} als Betreiber und Eigentümer.

p Bitte nehmen Sie sich Zeit, diese Bedingungen sorgfältig zu lesen, bevor Sie #{name} verwenden. Durch die Nutzung erklären Sie sich mit den hier aufgeführten Nutzungsbedingungen einverstanden. Andernfalls benutzen Sie #{name} bitte nicht.

h3 Funktionalität des Bots und Einschränkungen

p #{name} bietet eine Vielzahl von Funktionen aus verschiedenen Bereichen, der Hauptfokus liegt jedoch auf der Verwaltung sowie Moderation von Discord-Servern.

p Die korrekte Funktionalität des Bots kann von Einstellungen und Berechtigungen Ihres Discord-Servers abhängig sein.

p #{name} wird von uns "wie besehen" zur Verfügung gestellt, ohne Garantie für kontinuierliche Verfügbarkeit, Genauigkeit oder Zuverlässigkeit.

p Wir behalten uns das Recht vor, Funktionen des Bots ohne vorherige Ankündigung zu ändern, einzuschränken, zu entfernen oder den Betrieb des gesamten Bots einzustellen.

p Wir übernehmen keine Haftung für etwaige Schäden, die durch geplante oder ungeplante Einschränkungen einzelner Funktionen oder des gesamten Bots entstehen.

h3 Bot-Nutzung

p Die Nutzung von #{name} erfolgt auf Ihr eigenes Risiko. Sie sind verantwortlich für die Nutzung des Bots auf Ihrem Discord-Server und alle damit verbundenen Aktionen.

p #{name} soll ein angenehmes Umfeld des Discord-Servers nicht beeinträchtigen. Es ist untersagt, den Bot für Spam, Hass oder anderweitig belästigende Aktionen zu missbrauchen.

p Sie sind verpflichtet, sich zu jeder Zeit an die geltenden Gesetze zu halten. Jegliche rechtswidrige Aktionen, die durch Sie über #{name} durchgeführt werden, stehen vollständig unter Ihrer Verantwortung.

p Ebenso ist es Pflicht, die Discord Nutzungsbedingungen sowie die Discord Community Richtlinien zu befolgen.

h3 Geistiges Eigentum

p #{name} und alle seine dazugehörigen Projekte (darunter auch diese Website) sind durch Eigentumsrechte geschützt.

p Alle Projekte sind auf GitHub offen einsehbar, was von uns als eine Maßnahme zur Vertrauensförderung und Offenheit gesehen wird. Das Kopieren, reproduzieren, modifizieren, verbreiten, veröffentlichen, übertragen, verkaufen oder lizenzieren dieser "Repositories" von uns ist durch die jeweilige Lizenz-Datei geregelt. Sie finden diese im Projektordner des jeweiligen Repositorys. Bitte lesen Sie diese ausführlich, bevor Sie genannte Aktionen planen.

h3 Vorgehen bei Verstößen

p Bei Verstößen gegen diese Nutzungsbedingungen, geltende Gesetze, die Discord Nutzungsbedingungen oder die Discord Community Richtlinien behalten wir uns das Recht vor, Nutzer*innen oder Server von der weiteren Nutzung des Bots auszuschließen.

p Stellt der jeweilige Verstoß einen Straftatbestand dar, werden wir nötige rechtliche Schritte gegen entsprechende Personen einleiten.

p Wie lange ein Ausschluss dauert, liegt in unserem Ermessen. Es kann zeitlich begrenzt sein, aber auch permanent.

p Trotz angemessener Bemühungen betroffene Server oder Nutzer*innen zu informieren, können wir das nicht immer gewährleisten. Gelingt es nicht, berührt dies nicht die Wirksamkeit des Ausschlusses.

h3 Änderungen der Nutzungsbedingungen

p Wir behalten uns das Recht vor, diese Nutzungsbedingungen jederzeit und nach eigenem Ermessen zu ändern oder zu aktualisieren. Die aktualisierte Version wird auf dieser Website veröffentlicht. Eine Benachrichtigung über Änderungen können wir nicht gewährleisten. Es liegt in Ihrer Verantwortung, regelmäßig nach Aktualisierungen auf dieser Seite zu schauen.

p Durch die fortgesetzte Nutzung des Bots nach einer Aktualisierung der Nutzungsbedingungen erklären Sie sich mit den geänderten Bedingungen einverstanden.

h3 Kontakt

p Bei Fragen, Anmerkungen oder Bedenken bezüglich #{name} oder diesen Nutzungsbedingungen können Sie uns kontaktieren. Die dafür notwendigen Daten finden Sie entweder im Impressum oder auf unserer Kontaktseite.


p.mt-5 Letzte Aktualisierung: 31. Dezember 2023



        // ======= Footer =======
        include templates/footer