doctype html
html(lang='de')
    include templates/head
    body
        include templates/cookieBanner
        // ======= Header =======
        include templates/header
        main#main
            // ======= Breadcrumbs =======
            section.no-section-after.breadcrumbs
                .container
                    .d-flex.justify-content-between.align-items-center
                        h2 Befehle
                        ol
                            li
                                a(href='/') Home
                            li Befehle
            section.contact.inner-page.no-section-after
                .container
                    .section-title
                        h2 Befehle
                        p Hier findest du alle Befehle, die du nutzen kannst
                    .row
                        .col-md-12
                            input.shadow-none.bg-dark.text-white.form-control.mb-3(id='commands-search' type='text', placeholder=`Suche aus ${commands.filter(command => command.category !== "staff" && command.category !== "owner").length} Befehlen... 🔎`)
                    .row
                        .col-md-3
                            .categories-container
                                .card.bg-dark.text-white.mb-3
                                    .card-header.title Kategorien
                                    .card-body
                                        - const categories = [["all", "Alle"], ["administration", "Administration"], ["moderation", "Moderation"], ["fun", "Fun"], ["minigames", "Minispiele"], ["misc", "Sonstiges"]]
                                        each category in categories
                                            .card.bg-secondary.text-white.mb-3.category(data-category=category[0])
                                                .card-header.p #{category[1]}

                        .col-md-9
                            .commands-container
                                - const availableCommands = commands.filter(command => command.category !== "staff" && command.category !== "owner")
                                each command in availableCommands
                                    .card.bg-dark.text-white.mb-3.command(data-category=command.category)
                                        .card-header.title #{command.name}
                                        .card-body.body
                                            h4 Beschreibung
                                            p #{command.localized_descriptions.de || command.description}
                                            h4 Cooldown
                                            p #{command.cooldown / 1000} #{(command.cooldown / 1000) > 1 ? "Sekunden" : "Sekunde"}
        // ======= Footer =======
        include templates/footer
        script(src='/js/commands.js')