doctype html
html(lang='de')
    include templates/head
    body
        include templates/header
        main#main
            // ======= Breadcrumbs =======
            section.no-section-after.breadcrumbs
                .container
                    .d-flex.justify-content-between.align-items-center
                        h2 Befehle
                        ol
                            li
                                a(href='/') Home
                            li Befehle
            section.contact.inner-page.no-section-after
                .container
                    .section-title
                        h2 Befehle
                        p Hier findest du alle Befehle, die du nutzen kannst
                    .row
                        .col-md-12
                            input.shadow-none.bg-dark.text-white.form-control.mb-3(id='commands-search' type='text', placeholder=`Suche aus ${commands.filter(command => command.category !== "staff" && command.category !== "owner").length} Befehlen 🔎`)
                    .row
                        .col-md-3
                            .card.text-white.bg-dark.mb-3
                                .card-header.category-overview-title.h4 Kategorien
                                .card-body
                                    each category in [["all", "Alle"], ["administration", "Administration"], ["moderation", "Moderation"], ["fun", "Fun"], ["minigames", "Minispiele"], ["misc", "Sonstiges"]]
                                        .card.text-white.bg-secondary.mb-3.category-title(data-category=category[0])
                                            .card-header.p #{category[1].charAt(0).toUpperCase() + category[1].slice(1)}

                        .col-md-9.command-container
                            each command in commands.filter(command => command.category !== "staff" && command.category !== "owner")
                                .card.text-white.bg-dark.mb-3.command(data-category=command.category)
                                    .card-header.h4.command-title #{command.name}
                                    .card-body.command-body
                                        h4 Beschreibung
                                        p #{command.localizedDescriptions.de || command.description}
                                        h4 Cooldown
                                        p #{command.cooldown} #{command.cooldown > 1 ? "Sekunden" : "Sekunde"}





        // ======= Footer =======
        include templates/footer
        script(src='js/commands.js')
