doctype html
html(lang='de')
    include templates/head
    body
        include templates/cookieBanner
        // ======= Header =======
        include templates/header
        main#main
            // ======= Breadcrumbs =======
            section.no-section-after.breadcrumbs
                .container
                    .d-flex.justify-content-between.align-items-center
                        h2 Nutzungsbedingungen
                        ol
                            li
                                a(href='/') Home
                            li Rechtliches
                            li Nutzungsbedingungen
            section.terms.inner-page.no-section-after
                .container
                    .section-title
                        h2 Nutzungsbedingungen
                        p Bedingungen für die sachgemäße Nutzung des #{name} Discord Bots
                    .row
                        .col-md-12
                            h3 Vorwort
                            p Die folgenden Nutzungsbedingungen regeln die Verwendung des Discord-Bots "#{name}" (im Folgenden "der Bot" oder "#{name}").
                            p Bitte lesen Sie diese Bedingungen sorgfältig durch, bevor Sie den Bot verwenden. Durch die Verwendung von #{name} erklären Sie sich mit den unten aufgeführten Bedingungen einverstanden. Sind Sie nicht mit den Bedingungen einverstanden, verwenden Sie #{name} bitte nicht.
                            p Das Staff-Team von #{name}, als Betreiber und Eigentümer, verwendet die Begriffe "wir" und "uns" um sich zu beziehen.


                            h3 Bot Funktionalität und Einschränkungen
                            p #{name} bietet verschiedene Funktionen, die der Verwaltung sowie Moderation von Discord-Servern dienen. Die Verfügbarkeit und Funktionalität des Bots können dabei von den Einstellungen und Berechtigungen Ihres Discord-Servers abhängen.
                            p #{name} wird "wie besehen" von uns bereitgestellt. Es wird keine Gewährleistung für die kontinuierliche Verfügbarkeit, Genauigkeit oder Zuverlässigkeit des Bots oder seiner Funktionen übernommen.
                            p Wir behalten uns das Recht vor, Funktionen des Bots ohne vorherige Ankündigung zu ändern, einzuschränken oder zu entfernen.

                            h3 Bot-Nutzung
                            p Die Nutzung von #{name} erfolgt auf Ihr eigenes Risiko. Sie tragen die Verantwortung für Ihre Nutzung des Bots und alle damit verbundenen Aktivitäten auf Ihrem Discord-Server.
                            p Sie sind verpflichtet, die geltenden Gesetze und Vorschriften einzuhalten. Dazu zählen u.a. die Discord-Nutzungsbedingungen sowie die Discord-Community Richtlinien.

                            h3 Geistiges Eigentum
                            p #{name} und alle damit verbundenen Inhalte, einschließlich Texte, Bilder, Grafiken, Logos, Audio- oder Videodateien und Software, sind durch Urheberrechte und andere geistige Eigentumsrechte geschützt.
                            p Sie dürfen keine Inhalte des Bots kopieren, reproduzieren, modifizieren, verbreiten, veröffentlichen, übertragen, verkaufen, lizenzieren oder anderweitig nutzen, es sein denn, dies ist ausdrücklich gestattet oder gesetzlich vorgeschrieben.

                            h3 Haftungsausschluss
                            p Wir übernehmen keine Haftung für direkte oder indirekte Schäden, die sich aus der Nutzung von #{name} ergeben, einschließlich entgangener Gewinne, Datenverlusten oder Unterbrechungen jeglicher Serverfunktionen.
                            p Der Bot kann Links zu Websites oder Diensten Dritter enthalten. Wir übernehmen keine Verantwortung für den Inhalt, die Datenschutzpraktiken oder die Verfügbarkeit solcher externen Websites oder Dienste.
                            p Die Haftung für grobe Fahrlässigkeit und Vorsatz bleibt von diesem Haftungsausschluss unberührt.

                            h3 Ausschluss von Servern und/oder Nutzer*innen
                            p Wir behalten uns das Recht vor, nach eigenem Ermessen und für eine von uns festgelegte Dauer, Server oder einzelne Nutzer*innen von der Nutzung des Bots auszuschließen.
                            p Diese Entscheidung kann getroffen werden, wenn ein Server oder ein*e Nutzer*in gegen diese Nutzungsbedingungen, die Discord-Nutzungsbedingungen, die Discord-Community Richtlinien oder geltende Gesetze und Vorschriften verstößt.
                            p Sollte der Sachverhalt für uns einen Straftatbestand darstellen, werden wir entsprechende rechtliche Schritte einleiten.
                            p Die Dauer des Ausschlusses kann dauerhaft oder zeitlich begrenzt sein. Die Entscheidung darüber liegt in unserem Ermessen.
                            p Wir verpflichten uns, auf Nachfrage die Gründe für den Ausschluss mitzuteilen.
                            p Wir unternehmen angemessene Bemühungen, um betroffene Server und/oder Nutzer*innen über den Ausschluss zu informieren. Geschieht dies nicht, berührt dies nicht die Wirksamkeit des Ausschlusses.

                            h3 Änderungen der Nutzungsbedingungen
                            p Wir behalten uns das Recht vor, diese Nutzungsbedingungen jederzeit und nach eigenem Ermessen zu ändern oder zu aktualisieren. Die aktualisierte Version wird auf dieser Website veröffentlicht. Eine Benachrichtigung über Änderungen können wir nicht gewährleisten. Es liegt in Ihrer Verantwortung, regelmäßig nach Aktualisierungen auf dieser Seite zu schauen.
                            p Durch die fortgesetzte Nutzung des Bots nach einer Aktualisierung der Nutzungsbedingungen erklären Sie sich mit den geänderten Bedingungen einverstanden.

                            h3 Kontakt
                            p Bei Fragen, Anmerkungen oder Bedenken bezüglich #{name} oder diesen Nutzungsbedingungen können Sie uns kontaktieren. Die dafür notwendigen Daten finden Sie entweder im Impressum oder auf unserer Kontaktseite.

                            h3 Datenschutz
                            p Informationen zur Erhebung, Verarbeitung und Nutzung von Daten durch #{name} finden Sie in unsere Bot-Datenschutzerklärung.
                            p Durch die Nutzung des Bots stimmen Sie der Verarbeitung Ihrer Daten gemäß unserer Bot-Datenschutzerklärung zu.
                            p Unsere Bot-Datenschutzerklärung ist ein integraler Bestandteil dieser Nutzungsbedingungen.

                            p.mt-5 Letzte Aktualisierung: 26. Dezember 2023



        // ======= Footer =======
        include templates/footer