doctype html
html(lang='de')
    include templates/head
    body
        include templates/cookieBanner
        // ======= Header =======
        include templates/header
        main#main
            // ======= Breadcrumbs =======
            section.no-section-after.breadcrumbs
                .container
                    .d-flex.justify-content-between.align-items-center
                        h2 Nutzungsbedingungen
                        ol
                            li
                                a(href='/') Home
                            li Rechtliches
                            li Nutzungsbedingungen
            section.terms.inner-page.no-section-after
                .container
                    .section-title
                        h2 Nutzungsbedingungen
                        p Bedingungen für die sachgemäße Nutzung des #{name} Discord Bots
                    .row
                        .col-md-12
                            h3 Vorwort
                            p Die folgenden Nutzungsbedingungen regeln die Verwendung des Discord-Bots "#{name}" (nachfolgend als "der Bot" oder "#{name}" bezeichnet).

                            p Im Verlauf dieser Bedingungen verwenden wir die Begriffe "wir" und "uns" in Bezug auf das Staff-Team von #{name} als Betreiber und Eigentümer.

                            p Bitte nehmen Sie sich Zeit, diese Bedingungen sorgfältig zu lesen, bevor Sie #{name} verwenden. Durch die Nutzung erklären Sie sich mit den hier aufgeführten Nutzungsbedingungen einverstanden. Andernfalls benutzen Sie #{name} bitte nicht.

                            h3 Funktionalität des Bots und Einschränkungen

                            p #{name} bietet eine Vielzahl von Funktionen aus verschiedenen Bereichen, der Hauptfokus liegt jedoch auf der Verwaltung sowie Moderation von Discord-Servern.

                            p Die korrekte Funktionalität des Bots kann von Einstellungen und Berechtigungen Ihres Discord-Servers abhängig sein.

                            p #{name} wird von uns "wie besehen" zur Verfügung gestellt, ohne Garantie für kontinuierliche Verfügbarkeit, Genauigkeit oder Zuverlässigkeit.

                            p Wir behalten uns das Recht vor, Funktionen des Bots ohne vorherige Ankündigung zu ändern, einzuschränken, zu entfernen oder den Betrieb des gesamten Bots einzustellen.

                            p Wir übernehmen keine Haftung für etwaige Schäden, die durch geplante oder ungeplante Einschränkungen einzelner Funktionen oder des gesamten Bots entstehen.

                            h3 Bot-Nutzung
                            p Durch die Nutzung von #{name} erteilen Sie uns bestimmte Berechtigungen auf Ihrem Discord-Server. Diese werden ausschließlich für die Bereitstellung der Funktionen genutzt. Die genauen Berechtigungen können Sie im Einladungsprozess bei Discord festlegen. Beachten Sie jedoch, dass die Funktionen eingeschränkt sein können, wenn Sie nicht die vorgeschlagenen Berechtigungen wählen.
                            p Die Nutzung von #{name} erfolgt auf Ihr eigenes Risiko. Sie sind verantwortlich für die Nutzung des Bots auf Ihrem Discord-Server und alle damit verbundenen Aktionen.

                            p #{name} soll ein angenehmes Umfeld des Discord-Servers nicht beeinträchtigen. Es ist untersagt, den Bot für Spam, Hass oder anderweitig belästigende Aktionen zu missbrauchen.

                            p Sie sind verpflichtet, sich zu jeder Zeit an die geltenden Gesetze zu halten. Jegliche rechtswidrige Aktionen, die durch Sie über #{name} durchgeführt werden, stehen vollständig unter Ihrer Verantwortung.

                            p Ebenso ist es Pflicht, die Discord Nutzungsbedingungen sowie die Discord Community Richtlinien zu befolgen.
                            h3 Updates und Wartung

                            p Wir streben kontinuierliche Verbesserung von #{name} an. Dies umfasst die Einführung neuer Funktionen sowie die Anpassung bestehender Funktionen an aktuelle Technologien. Unsere Bemühungen zielen darauf ab, alle Aktualisierungen nahtlos während des laufenden Betriebs zu implementieren, um mögliche Ausfälle zu minimieren. Falls geplante Wartungsarbeiten erforderlich sind, informieren wir Sie rechtzeitig im Voraus.

                            h3 Geistiges Eigentum

                            p #{name} und alle seine dazugehörigen Projekte (darunter auch diese Website) sind durch Eigentumsrechte geschützt.

                            p Alle Projekte sind auf GitHub offen einsehbar, was von uns als eine Maßnahme zur Vertrauensförderung und Offenheit gesehen wird. Das Kopieren, reproduzieren, modifizieren, verbreiten, veröffentlichen, übertragen, verkaufen oder lizenzieren dieser "Repositories" von uns ist durch die jeweilige Lizenz-Datei geregelt. Sie finden diese im Projektordner des jeweiligen Repositorys. Bitte lesen Sie diese ausführlich, bevor Sie genannte Aktionen planen.

                            h3 Vorgehen bei Verstößen

                            p Bei Verstößen gegen diese Nutzungsbedingungen, geltende Gesetze, die Discord Nutzungsbedingungen oder die Discord Community Richtlinien behalten wir uns das Recht vor, Nutzer*innen oder Server von der weiteren Nutzung des Bots auszuschließen.

                            p Stellt der jeweilige Verstoß einen Straftatbestand dar, werden wir nötige rechtliche Schritte gegen entsprechende Personen einleiten.

                            p Wie lange ein Ausschluss dauert, liegt in unserem Ermessen. Es kann zeitlich begrenzt sein, aber auch permanent.

                            p Trotz angemessener Bemühungen betroffene Server oder Nutzer*innen zu informieren, können wir das nicht immer gewährleisten. Gelingt es nicht, berührt dies nicht die Wirksamkeit des Ausschlusses.

                            h3 Änderungen der Nutzungsbedingungen

                            p Wir behalten uns das Recht vor, diese Nutzungsbedingungen jederzeit und nach eigenem Ermessen zu ändern oder zu aktualisieren. Die aktualisierte Version wird auf dieser Website veröffentlicht. Eine Benachrichtigung über Änderungen können wir nicht gewährleisten. Es liegt in Ihrer Verantwortung, regelmäßig nach Aktualisierungen auf dieser Seite zu schauen.

                            p Durch die fortgesetzte Nutzung des Bots nach einer Aktualisierung der Nutzungsbedingungen erklären Sie sich mit den geänderten Bedingungen einverstanden.

                            h3 Kontakt & Support
                            p Unser Support-Team steht Ihnen für Fragen, Anliegen oder Hilfe bezüglich #{name} zur Verfügung. Bitte beachten Sie jedoch, dass die Verfügbarkeit unseres Supports eingegrenzt und sehr variierend sein kann, da wir #{name} ausschließlich als unser Hobby betreiben. Wir beantworten Ihre Anfrage schnellstmöglich.

                            p Wir bevorzugen den Kontakt über Discord auf unserem Support-Server. Alternativ können Sie uns auch per E-Mail oder WhatsApp kontaktieren. Die entsprechenden Kontaktdaten finden Sie im Impressum oder Sie können uns direkt über unser Kontaktformular erreichen. Beachten Sie jedoch, dass die Beantwortung Ihrer Anfrage über Discord in der Regel schneller erfolgt als über E-Mail oder WhatsApp.

                            p.mt-5 Letzte Aktualisierung: 31. Dezember 2023



        // ======= Footer =======
        include templates/footer