head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')

    title #{name} &middot; #{title}
    // Meta Data
    meta(name='description', content=metaData.description)
    meta(name='keywords', content=metaData.keywords)
    meta(name='theme-color' content='#9daaf2')

    // Open Graph
    meta(name='og:site_name', content=name)
    meta(name='og:title', content=name + ' - ' + title)
    meta(name='og:description', content=metaData.description)
    meta(name='og:image', content='img/logo.webp')
    meta(name='og:type', content='website')

    // Favicons
    link(href='img/logo.webp', rel='icon')
    link(href='img/logo.webp', rel='apple-touch-icon')

    // Google Fonts
    link(href='css/fonts.css', rel='stylesheet')

    // Vendor CSS
    link(href='vendor/bootstrap/css/bootstrap.min.css', rel='stylesheet')
    link(href='vendor/fontawesome/css/all.min.css', rel='stylesheet')

    // Main CSS
    link(href='css/style.css', rel='stylesheet')

    // Matomo
    script(src='js/matomo.js')
